.main-header{
    height: 300px;
    padding-top: 100px;
    background-color: rgb(100, 212, 255);
    background-image: url(./../images/Light_background_deepslate_transition.png),
    url(./../images/Light_background_grass.png),
    linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(202, 246, 255, 1) 50%, rgba(120, 202, 255, 1) 100%);;
    background-repeat: repeat-x, repeat-x, no-repeat;
    background-position: bottom left, 0 120px, 0 0;
}
main{
    margin-top: -145px;
}
.main-wrapper{
    min-width: 720px;
    width: 45%;
    margin: auto;
}
.main-menu{
    list-style:none;
    margin: 0;
}
.main-menu-item{
    display: inline-block;
    margin: 0 0.30em;
    padding-bottom: 30px;
    position: relative;
}
.main-menu-item::after{
    content: "\25BC";
}
.main-menu-item:hover::after{
    content: "\25B2";
}
.main-menu-item>a{
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
}
.main-menu-item>a:hover{
    text-decoration: underline;
}
.main-menu-item:hover>.submenu{
    display: block;
}
.main-menu-item>.submenu::after{
    content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #FFFFFF transparent;
        top: -18px;
        left: 42%;
}
.submenu{
    left: 0;
    width: 100%;
    display: none;
    position: absolute;
    top: 30px;
    left: -50%;
    list-style: none;
    padding: 7px;
    min-width: 100px;
    min-width: 150px;
    background-color: white;
}
.left0{
    left: 0;
}
.left-10{
    left: -10%;
}
.left-40{
    left: -40%;
}
.left-60 {
    left: -60%;
}
.left-90{
    left: -90%;
}
.submenu-item{
    position: relative;
}
.submenu-item:has(>.submenu)::after{
    content: "\1433";
    position: absolute;
    top: 5px;
    right: 0;
}
.submenu-item:hover>.submenu{
    display: block;
    left: 100%;
    top: 0%;
}
.submenu-link{
    display: block;
    padding: 5px 9px;
    text-transform: capitalize;
    color: black;
}
.submenu-item:hover>.submenu-link, .submenu-link:hover{
    background-color: rgb(232, 233, 255);
    color: blue;
}
.explore::before{
    display: inline-block;
    width: 15px;
    transform: translate(-3px, 2px);
    content: url(./../icons/book-open-blank-variant.svg)
}
.home::before{
    display: inline-block;
    width: 15px;
    transform: translate(-3px, 2px);
    content: url(./../icons/home.svg);
}
