.main-header{
    height: 300px;
    padding-top: 100px;
    background-color: rgb(100, 212, 255);
    background-image: url(./../images/Light_background_grass.png), linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(202, 246, 255, 1) 50%, rgba(120, 202, 255, 1) 100%);;
    background-repeat: repeat-x, no-repeat;
    background-position: 0 120px, 0 0;
}
main{
    margin-top: -145px;
}
.main-wrapper{
    min-width: 720px;
    width: 45%;
    margin: auto;
}
.main-menu{
    list-style:none;
    margin: 0;
}
.main-menu-item{
    display: inline-block;
    margin: 0 1.2em;
    position: relative;
}
.main-menu-item>a{
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
}
.main-menu-item>a:hover{
    text-decoration: underline;
}
.main-menu-item:hover>.submenu{
    display: block;
}
.submenu{
    display: none;
    position: absolute;
    left: -50%;
    list-style: none;
    padding: 8px;
    background-color: white;
    min-width: 150px;
    width: 210%;
}
.submenu-item{

}
.submenu-link{
    display: block;
    padding: 5px 9px;
    text-transform: capitalize;
    color: black;
}
.submenu-link:hover{
    background-color: rgb(232, 233, 255);
    color: blue;
}